.table-thread {
    background: #00d27f;
    color: snow;
    font-weight: bold;
}

/* estilos treinamentos */

/* ESTILO DA LINHA DA TABELA */

.tr-estilo:hover {
	background: #0087ab;
	color: snow;
	cursor: pointer;
}

.tr-estilo:hover td {
    background-color: transparent;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.center h1 {
    font-size: 2em;
    color: #363a3c;
    margin-bottom:1.3em;
    margin-top: 1.3em;
}

.editar-treinamento {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.editar-treinamento h1 {
    font-size: 1.5em;
    color: #363a3c;
}

.editar-treinamento h4 {
    font-size: 1em;
    color: #363a3c;
}

.div-finalizacao {
    margin-top: 1em;
}


.btn-status-usuarios-treinamento {
    cursor: pointer;
    background: #2F5671;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #2F5671;
    transition: 0.6s all;
}

.btn-status-usuarios-treinamento:hover {

    background: white;
    color:#2F5671;
    border-radius: 0.8em;
    
}

.btn-att-treinamento {
    cursor: pointer;
    background: #52bf90;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #52bf90;
    transition: 0.6s all;
}

.btn-att-treinamento:hover {

    background: white;
    color:#52bf90;
    border-radius: 0.8em;
    
}

.espaco-bottom {
    margin-bottom: 1em;
}

.tr-status-style {
    background: #2F5671;
    color: snow;
    font-weight: bold;
}

.usuarios-status-treinamento {
    font-weight: bold;
}


/* ESTILO DA SEÇÃO DE COMENTÁRIOS */

.secao-comentarios {
    border-top: 2px solid grey;
    margin-top:30px;
}

.div-titulo-comentarios {
    margin-top: 2em;
}

.div-titulo-comentarios h1 {
    font-size: 1.4em;
    color: #363a3c;
}

.div-add-comentario {
    margin-top: 1em;
}

.container-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2em;
}

.btn-add-comentario {
    background: #52bf90;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-add-comentario:hover {
    background: white;
    color:#52bf90;
    border: 3px solid #52bf90;
    border-radius: 10px;
}

.ver-comentarios {
    padding-bottom: 200px;
}

.div-comentario {
    margin: 1em 0 1em 0;
    border-bottom: 1px solid grey;
}

.div-titulo-comentario h1 {
    color:#363a3c;
    font-weight: bold;
    font-size: 1.2em;
}

.div-conteudo-comentario {
    margin-top:8px;
    margin-left: 40px;
}
.div-conteudo-comentario h1 {
    font-size: 1em;
    margin-bottom: 30px;
}

.margin {
    margin-bottom: 3em;
    margin-top: 2em;
}


.btn-concluir {
    background: #2E3641;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-concluir:hover {
    background: white;
    color:#2E3641;
    border: 3px solid #2E3641;
    border-radius: 10px;
}

.btn-filtrar {
    background: #2E3641;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.div-filtrar{
    margin:10px 0 20px 0;
}

.status-div, .temporario-ver-treinamento, .status-div  {
    margin-top:20px;
}

.div-ativo {
    margin-bottom: 30px;
}

.temporario-ver-treinamento {
    font-size: 1.1em;
    font-weight: bold;
}

.data-treinamento-ver-treinamento {
    font-size: 1.1em;
    margin-bottom:20px;
}

.treinamentos-titulo {
    font-size: 1.5em;
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#363a3c;
    font-weight: bold;
}
