

/* ************** ESTILOS DA TELA DE LOGIN ******************* */
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
  height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
  background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}


.btnlogin:hover{ background: #12135f; color: #fff; }

.btn2 {
    height: 40px;
    width: 100px;
    padding: 0 20px;
    background: #2f30ee;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


.btn2:hover { background: #12135f; color: #fff; }

.btn2:active { outline: 0; color: black; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.btn2:focus { outline: 0; background: #12135f ; color: #fff; }

.btn2:active:focus, .btn2.active:focus { outline: 0; background: #12135f; color: #fff; }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: #eaeafd;
}

strong { font-weight: bold; }

a, a:focus {
  color: #474747;
  font-weight: bold;
  text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover{
  color: #2f30ee;
  text-decoration: none;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
    font-weight: 100;
    color: black;
    line-height: 50px;
}

h3 {
  font-size: 22px;
    font-weight: 300;
    color: black;
    line-height: 30px;
}

.h2-style {
  font-size: 22px;
  font-weight: bold;
}
::-moz-selection { background: #d5d5fb; color: black; text-shadow: none; }
::selection { background: #d5d5fb; color: black; text-shadow: none; }

.container {
  max-width: 70%;
}

.form-box {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #12135f;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #fff;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
  border-radius: 10px;
}

.form-bottom form .input-error {
  border: 1px solid red;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

}

@media(max-width: 767px) and (min-width: 415px){
  .form-top{
  display: none;
  }

  .container{
    max-width: 1000px;
  }
}

@media (max-width: 415px) {
  
  .form-top{
    display: none;
  }
  .container{
    max-width: 1000px;
  }

}

